{% extends "encyclopedia/layout.html" %}
{% block title %}
    Encyclopedia
{% endblock %}
{% block body %}
<!DOCTYPE html>
<html lang="en">
    <style>
        .divcss{text-align: right;margin-top: 50px;margin-right: 600px;}
    </style>
<head>
    <meta charset="UTF-8">
    <title>new_entry</title>
</head>
<body>
      <div class="divcss"><form action="/new_entry/" method="post">
           <br>{% csrf_token %} </br>
           <input  type="text" name="title" placeholder="add a title" 
           style="height: 35px;width: 600px;padding-left:10px;border-radius: 10px;outline: none;border-color: RGB(196,199,206)">
           <input  type="text" name="content" placeholder="add content" 
           style="height: 35px;width: 600px;padding-left:10px;border-radius: 10px;outline: none;border-color: RGB(196,199,206)">
           <button type="submit" style="border-radius: 10px">Submit</button>
       </form></div>

</body>
</html>
{% endblock %}